.perfil_ec_selected {
    opacity: 1 !important;
}

input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: #ddd;
    border-radius: 3px;
    display: inline-block;
    width: 23px;
    height: 23px;
    border: 1px solid #ddd;
    margin: 10px 10px 0 0;
    vertical-align: middle;
    cursor: pointer;
}

input[type="checkbox"]:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

input[type="checkbox"]:checked::before {
    --webkit-appearance: initial;
    border-radius: 3px;
    display: inline-block;
    height: 19px;
    margin: -7px 0px 10px 4px;
    vertical-align: middle;
    content: '\2713';
    font-size: 3rem;
    color: darkred;
}

.pesq {
    background-color: white;
    height: 41px;
    line-height: 45px;
    padding-bottom: 10px;
    border-bottom: 1px solid #5b318a36
}

.span_chk_dia {
    font-size: 1.5rem;
    color: black;
    margin-left: 15px;
}

.inputs_agenda {
    position: relative;
    top: 15px;
    max-height: 200px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_input {
    margin-top: 3%;
}

.span_div {
    font-family: Exo;
}

.modal-content {
    background-color: white !important;
    margin: auto !important;
    padding: 0px !important;
    border: 1px solid #888 !important;
    border-radius: 30px !important;
    width: 90% !important;
    height: 105px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    position: fixed !important;
    max-width: 400px !important;
    text-align: center !important;
}

.modal-calendario {
    background-color: white !important;
    margin: auto !important;
    padding: 0px !important;
    border: 1px solid #888 !important;
    border-radius: 30px !important;
    width: 90% !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    position: fixed !important;
    max-width: 400px !important;
    text-align: center !important;
    height: 50%;
}

.modal-content p {
    font-family: Exo !important;
    font-size: 1.5rem !important;
    margin-bottom: 20px !important;
}

.modal-footer {
    display: flex !important;
    justify-content: center !important;
}

.modal-footer button {
    margin: 0 10px !important;
    padding: 8px 10px !important;
    font-size: 1rem !important;
    background-color: white !important;
    color: darkred !important;
    border: 1px solid darkred !important;
    border-radius: 30px !important;
    width: 40% !important;
}

.input-icon {
    position: relative;
    color: lightgray;
    left: 3rem;
    top: 0.5rem;
    height: 25px;
}

.span_input{
    position: absolute;
    color: lightgray !important; 
    margin-top: 0.5rem;
    left: 12%;
}

.span_input_ate{
    position: absolute;
    color: lightgray !important; 
    margin-top: 0.5rem;
    right: 32%;
}

.calendarList2 li.selected {
    background-color: darkred;
    color: white;  
}

.calendarList2 li:active {
    background-color: darkred;
    color: white; 
    transition: background-color 0.5s, color 0.5s;  
}

.divPerfilEC{
    opacity: 0.5;
    height: 90px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.eventos_select{
    display: grid;
    justify-content: center;
    align-items: center;
}

.eventos_select div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventos_select img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.eventos_select span{
    font-size: 1.3rem; 
    text-align:center; 
    text-decoration:none;
}

.div_eventos{
    height: 90px; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    gap: 80px; 
    overflow-x: auto; 
    overflow-y: hidden; 
    position: relative; 
    border-bottom:1px solid lightgray;
}

.div_btn_salvar{
    bottom: 30px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.div_btn_salvar button{
    font-family: Exo; 
    border: 1px solid darkred; 
    background-color: white; 
    color: darkred; 
    width: 70%; 
    border-radius: 10px; 
    height: 4.5rem;
    font-size: 2rem;
}

.header1{
    background-color: darkred;
    height: 55px;
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 3;
}

.div_inputs_agendas{
    display: flex; 
    justify-content: center;
    margin-left: -20px;
}

.cadastro__input{
    border: 0;  
    outline: 0;  
    background: transparent;  
    border-bottom: 1px solid darkred; 
    width: 80%; 
    padding-left: 4rem; 
    height: 3.5rem;
}

.div_inputs_agendas_de_ate{
    display: flex; 
    justify-content: center;
    width: 40%;
}