.visualiza-evento{
    display: none;
    position: fixed;
    top: 0px;
    overflow-y: hidden;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: black;
}

.feed_principal {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.div_perfil {
    display: flex;
    text-decoration: none;
    padding-bottom: 6px;
    justify-content: space-between;
    background-color: black;
    font-size: 62.5%;
}

.div_perfil span{
    color: white;
    display: flex;
    align-items: center;
}

.perfil_div {
    display: flex;
    align-items: center;
    padding-left: 7px;
}

.img_igreja {
    height: 3.5rem;
    border-radius: 50%;
    width: 3.5rem;
}

.nome_igreja {
    align-self: center;
    color: white;
    margin-left: 0.6rem;
    font-size: 1.3rem;
    font-family: exo;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.div_img_layout {
    display: flex;
    flex-flow: column;
    width: 75%;
}

.div_img_layout img{
    border: 1px solid white;
}

.div_descricao {
    margin-top: 0px;
}

.span_descricao {
    color: rgb(98, 97, 97);
    font-family: exo;
    font-size: 1.5rem;
}

#divFixa{
    bottom: 0px;
    position: absolute;
    width: 100%;
    background-color: black;
}

#descricao{
    font-family: exo;
    font-size: 13px;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 30px;
}

#descricao span{
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 100%;
    overflow: hidden;
}

.span_nome_igreja{
    font-weight: bold;
}
#nome_igreja_desc{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin-top: -4px;
    line-height: 1.6rem;
}

#nome_igreja_desc span{
    color: white;
    font-family: 'VT323', monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; 
    max-width: 100%;
    font-size: 10pt;
}