body{
    background-color: white;
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}

.feed_main{
    background:lightgray;;
    font-size: 1.6rem;
    font-family: sans-serif;
}

.feed_main_top{
    font-size: 1.6rem;
}

.div_publicacao{
    background-color: lightgray;
}

.feed_principal{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 6px;
}

.div_feed_secundario{
    border: 1px solid white;
    margin-left: 0.2rem;
    margin-bottom: 0.1rem;
    margin-right: 0.2rem;
    background-color: white;
    width: 100%;
}

.div_perfil{
    display: flex;
    text-decoration: none;
}

.perfil_div{
    display: flex;
    align-items: center;
}


.img_igreja{
    height: 3.5rem;
    border-radius: 50%;
    width: 3.5rem;
}

.nome_igreja{
    align-self: center;
    color: #363636;
    margin-left: 0.6rem;
    font-size: 1.3rem; 
    font-family: exo;
}

.div_layout_feed{
    margin-top: 1.5rem;
}

.a_img_layout{
    color: #363636;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
}

.img_layout_feed{
    align-self: center;
    max-width: 100%;
    width: 100%;
}

.div_descricao{
    margin-top: 15px;
}

.span_descricao{
    height: 2.5rem;
    margin-top: 1.5rem;
    color: rgb(98, 97, 97); 
    font-family: exo; 
    font-size: 1.5rem;
}

.div_rodape_feed{
    margin-top: 1.1rem;
}

.rodape_feed_botao{
    text-align: right; 
    display: block;
}

.span_rodape_botao{
    background-color: white; 
    color: lightslategray;
}

.slick-prev {
    left: 0px;
}

.slick-next {
    right: 0px;
}

.slick-prev:before {
    content: "<";
    color: black;
    font-size: 30px;
}

.slick-next:before {
    content: ">";
    color: black;
    font-size: 30px;
}

.perfil_ec_selected {
    opacity: 1 !important;
}

.modal1 {
    background-color: rgba(0, 0, 0, 0.4);
    color: #363636;
    display: none;
    font-family: sans-serif;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 45px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.modal_content{
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: animatetop;
    animation-duration: 0.4s;
    animation-name: animatetop;
    background-color: white;
    font-size: 2rem;
    border-radius: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: auto;
    padding: 0;
    position: fixed;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_header{
    border-bottom: 1px solid #e5e5e5;
}

.modal_close{
    font-size: 2.3rem;
    font-weight: bold;
    position: absolute;
    right: 7px;
    top: 0px;
}

.h3_modal{
    justify-content: center; 
    display: flex;
    font-family: exo;
}

.modal_body{
    padding: 0.2rem 1.6rem;
}

.modal_footer{
    align-items: center;
    border-top: 1px solid #e5e5e5;
    display: flex;
    height: 5.5rem;
    justify-content: space-around;
    padding: 0.2rem 1.6rem;
}

.div_imgFundo_perfil{
    position: relative;
    margin-right: auto; 
    margin-left: auto;
}

.imgFundo_perfil{
    height: 250px; 
    border-bottom: 1px solid darkred; 
    background-color: black; 
    width: 100%;
}

.div_img_igreja{
    position: absolute; 
    z-index: 3; 
    top: 18.4rem; 
    left: 4rem;
}

.img_igreja1{
    height: 10rem; 
    width: 10rem;
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
}

.a_div_perfil{
    display: grid;
    text-decoration: none;
    position: relative;
    padding-top: 4rem;
}

.nome_da_igreja{
    position: relative;
    align-self: center; 
    color: #363636; 
    font-size: 1.7rem; 
    font-family: exo;
    max-width: 120px;
    text-align: center;
    left: 2.5rem;
}

.abrir_hora_fixo{
    bottom: 20px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.2rem;
}

.abrir_map{
    bottom: 13px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 1.2rem;
}

.ion_map{
    color: darkred; 
    font-size: 2rem !important; 
}

.endereco_igreja{
    margin-top: 1rem;
    align-self: center;
    color: #363636;
    margin-left: 0.6rem;
    font-size: 1.4rem; 
    font-family: exo;
    margin-bottom: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*
.div_whats,
.div_face,
.div_insta,
.div_gmail {
    
}*/

.contatos {
    text-align: center; 
    margin-bottom: 10px;
  }

.contato {
    margin: 10px;
    text-align: center;
    font-size: 1.4rem;
    font-family: exo;
    display: flex;
    justify-content: center;
}

.contato img{
    max-width: 16px;
    position: relative;
    right: 5px;
}

.div_comunidade{
    height: 150px; 
    position: relative;
    width: 98.5%; 
    left:3px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); 
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 60px;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
}

.div_feed{
    font-size: 1.6rem;
    margin-top: 0.5rem;
    text-align: center;
}

.header1{
    background-color: darkred;
    height: 55px;
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 32.7rem;
    top: 0;
    width: 100%;
    z-index: 4;
}

.span_criar-igreja{
    font-size: 2rem; 
    color: #fff; 
    position: absolute; 
    padding: 1.5rem;
    font-family: Exo;
}

.header-up {
    top: -100px; 
    transition: top 0.3s ease-in-out;
}

.header-down {
    top: 0;
    transition: top 0.3s ease-in-out;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}

.mobile_nav {
    background-color: darkred !important;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.modal-content {
    margin: auto;
    padding: 30px;
    border-radius: 30px;
    width: 87%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 400px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.compartilhamento {
    display: none;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.6s ease-in-out;
}

.show {
    max-height: 200px;
}

.btn-compartilhar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adicionando margem para separar os botões */
    margin: 0 5px;
}

.btn-whatsapp {
    background-color: #25D366;
    /* Verde do WhatsApp */
}

.btn-facebook {
    background-color: #1877F2;
    /* Azul do Facebook */
}

.btn-instagram {
    background-color: #E4405F;
    /* Cor característica do Instagram */
}

.btn-instagram:hover {
    background-color: #CA3754;
    /* Cor de destaque ao passar o mouse */
}

.btn-compartilhar img {
    width: 24px;
    /* Tamanho dos ícones */
    height: 24px;
    filter: invert(1);
}

.btn-compartilhar:hover {
    opacity: 0.8;
    /* Opacidade reduzida ao passar o mouse */
}