.header1{
    background-color: darkred;
    height: 55px;
    position: fixed;
    display: none;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 5;
    
}

.span_criar-igreja{
    font-size: 2rem; 
    color: #fff; 
    position: relative; 
    left: 13rem; 
    padding: 1.5rem;
    font-family: Exo;
}

#slider, #dias-slider {
    width: 80%;
    margin: 5px auto;
}

.selected {
    background-color: darkred;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.select_item{
    border: 1px solid darkred; 
    border-radius: 20px; 
    height: 4rem; 
    align-items: center; 
    display: flex;
}

#barra-caminhos {
    display: none; /* Inicialmente oculta */
    position: fixed;
    top: 60px; /* Altura da barra de cabeçalho */
    left: 0;
    width: 100%;
    background-color: #f0f0f0; /* Cor de fundo */
    padding: 10px;
    font-size: 1rem;
    z-index: 1000; /* Certifique-se de que a barra de caminhos esteja acima de outros elementos */
}

#barra-caminhos span {
    margin-right: 5px; /* Espaçamento entre os itens */
    cursor: pointer; /* Cursor do mouse muda para indicar que os itens são clicáveis */
}

#barra-caminhos span:hover {
    text-decoration: underline; /* Sublinhado quando o mouse passa sobre os itens */
}

/* Estilos personalizados para a barra de intervalo */
.noUi-connect {
    background: darkred !important; 
}

.noUi-handle {
    background: white !important; 
    border: 2px solid darkred !important; 
    width: 20px;
    height: 20px; 
}

