html, *{
    font-family: 'Exo';
    box-sizing: border-box;
    line-height: unset;
}

.ui-icon {
    display: none !important;
}

.columns{
    position:absolute;
    display: flex;
    right: 2%;
    gap: 30px;
}

.list-line {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.list-quantidade {
    position: absolute;
    right: 35px;
    display: inline;
    font-size: 1.5rem;
    top: -4px;
}

.list-line span {
    right: 0;
    justify-content: right;
    font-size: 1.5rem;
    color: darkred;
}

#divListaPrincipal {
    margin-bottom: 20px;
}

#divCorpo{
    font-family: Exo; 
    height: 60%; 
    left: 0; 
    width: 100%; 
    margin-top:0px; 
    overflow: auto;
    position: relative;
}

.modal-container {
    display: flex;
    position: relative;
    padding: unset !important;
    overflow: hidden !important;
    align-items: center;
  }

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 30px;
    width: 50%;
    top: 38%;
    left: 24%;
    position: fixed;
    max-width: 400px;
    text-align: center;
}

.modal-content h1 {
    font-family: Exo;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.modal-footer button {
    margin: 0 10px;
    padding: 8px 10px;
    font-size: 1rem;
    background-color: white;
    color: darkred;
    border: 1px solid darkred;
    border-radius: 30px;
}

.div-igreja{
    height:40px; 
    font-family: Exo; 
    line-height:40px; 
    border-bottom: 1px solid darkred; 
    width: 100%;
    text-align: left; 
    background-color:darkred;
}

.span-igreja{
    font-size:1.5rem; 
    font-style: italic; 
    padding-left: 20px; 
    color:white;
}

.label-lista{
    font-size:1.5rem;
}

.endereco-lista{
    margin-top: 0px; 
    font-family: Exo; 
    font-size: 10px; 
    display: flex; 
}

.header1{
    background-color: darkred;
    height: 55px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    z-index: 3;
}

.span_criar-igreja{
    font-size: 2rem; 
    color: #fff; 
    position: relative; 
    right: 2.0rem; 
    padding: 1.5rem;
    font-family: Exo;
}

.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mobile_nav{
    background-color: darkred !important;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.calendario{
    font-size: 25px !important; 
}

.configurar-igreja{
    font-size: 25px !important;
}

.editar-igreja{
    font-size: 25px !important;
    color: darkred;
    margin-right: 5px;
}

.remove-igreja{
    font-size: 25px !important;
}

.toggle{
    display: flex;
    gap: 5px;
    margin-left: 5px;
}

.toggle > input {
    display: none;
}

.toggle > label {
    position: relative;
    display: block;
    height: 20px;
    width: 45px;
    background-color: #f7f7f7;
    border: 1px black solid;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.toggle > label:after {
    position: absolute;
    left: 1px;
    top: 1px;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: darkred;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
    content: '';
    transition: all 0.3s ease;
}
.toggle > label:active:after {
    transform: scale(1.15, 0.85);
}
.toggle > input:checked ~ label {
    background-color: darkred;
    border-color: darkred;
}
.toggle > input:checked ~ label:after {
    left: 25px;
    background-color: white;
}
.toggle > input:disabled ~ label {
    background-color: #d5d5d5;
    pointer-events: none;
}
.toggle > input:disabled ~ label:after {
    background-color: rgba(255, 255, 255, 0.3);
}

.modal-content1 {
    background-color: white;
    margin: auto;
    padding: 30px;
    border: 1px solid #888;
    border-radius: 30px;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 400px;
}

.span_eventos_gerais{
    font-size: 13px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.div_img{
    padding: 10px;
}

.div_img img{
    height: 120px; 
    width: 150px;
}