body{
    background-color: lightgray;
    margin: unset;
}

.div_local{
    width: 100%;
    height: 20px;
    text-align: center;
    justify-content: center;
    position: relative;
    display: flex;
    gap: 10px;
    background-color: darkred;
}

.ion_local{
    color: white;
    font-size: 20px !important;
}

.div_cidade{
    font-size: 17px;
    font-family: exo;
    text-transform: none;
    color: white
}

#eventos{
    margin-top: 20px;
    position: relative;
    display: grid;
    gap: 10px;
}

.div_evento{
    width: 100%;
    height: 300px;
    display: grid;
    background-color: white;
}

#evento{
    font-family: exo;
    font-size: 13px;
}

#horizontal_eventos{
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    gap: 30px;
}

.agenda{
    width: 120px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.div_agenda{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;
}

#div_img{
    width: 120px;
    height: 120px;
}

#descricao{
    font-family: exo;
    font-size: 13px;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 30px;
}

#descricao span{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
}

.span_nome_igreja{
    font-weight: bold;
}

.span_agenda{
    color: white;
    font-size: 15px;
    font-family: 'VT323', monospace;
}

.span_agenda_left{
    padding-left: 3px;
}

.span_agenda_right{
    padding-right: 3px;
}

.div_ver_mais{
    align-items: center;
    justify-content: center;
    display: flex;
}

.div_ver_mais span{
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: exo;
    color: blue;
}