body{
    background-color: #ebe7bc  !important;
    margin: unset !important;
    box-sizing: unset;
}

.div_local{
    width: 100%;
    height: 20px;
    text-align: center;
    justify-content: center;
    position: relative;
    display: flex;
    gap: 10px;
    background-color: darkred;
    align-items: center;
}

.ion_local{
    color: white;
    font-size: 20px !important;
}

.div_cidade{
    font-size: 17px;
    font-family: exo;
    text-transform: none;
    color: white
}

#eventos{
    position: relative;
    display: grid;
    padding-bottom: 55px;
}

.div_evento{
    width: 100%;
    height: 300px;
    display: grid;
    margin-bottom: 12px;
    background-color: white;
}

#evento{
    font-family: exo;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.div_principal_eventos{
    background-color: black;
}

.agenda{
    width: 140px;
    display: grid;
    align-items: center;
    padding: 10px;
}

#nome_evento_outros{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin-top: -4px;
    line-height: 1.6rem;
}

#nome_evento_outros span{
    color: white;
    font-family: 'VT323', monospace;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; 
    max-width: 100%;
    font-size: 10pt;
}

.div_bottom_fixa{
    width: 100%;
    height: 55px;
    border-top: 1px solid;
    position: fixed;
    bottom: -56px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.div_select_options{
    display: grid;
    padding-left: 20px;
    padding-right: 20px;
}

.span_ion{
    font-size: 30px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.span_options{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: exo;
    font-size: 12px;
}

.faixa-up {
    bottom: -1px; 
    transition: bottom 0.3s ease-in-out;
}

.faixa-down {
    bottom: -56px;
    transition: bottom 0.3s ease-in-out;
}

#destaque{
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fade-box {
    background: radial-gradient(circle, #f0f653bd 15%, #b22222 80%);
    transition: opacity 0.2s ease-in-out;
}

.textSelect{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    margin-bottom: 30px;
    color: white;
}

.filterSelect{
    width: 40%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 15px;
    border: 1px solid darkred;
    background-color: #fff0ba;
    border-radius: 10px;
    color: darkgoldenrod;
}